html {
	font-family:sans-serif;
}
a {
	cursor:pointer;
	text-decoration:none;
}
button {
	cursor:pointer;
}
.uk-container {
    clear: both;
    min-height: 600px;
	margin:0;
	display:block;
}
/* FORM ---------------------*/
form.register {
    width: 60%;
    margin: 0 auto;
    clear: both;
}
p.regi-header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    color: navy;
}
fieldset {
    border: none;
}
legend {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 24px;
    line-height: 22px;
}
input {
    width: 100%;
    margin: 10px 0;
    height: 30px;
    border-radius: 2px;
    border: 1px solid lightgray;
    padding: 5px 10px;
    font-size: 18px;
	font-weight:lighter;
}
.btn {
    background: orange;
    border: none;
    padding: 15px 50px;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    display: block;
    margin: 20px auto;
}
/* NAVIGATION ---------------------*/
.logo {
    width: 30%;
    float: left;
	height: 80px;
}
.logo a {
    color:navy;
}
.header {
    padding: 0px 20% 80px;
    margin: 0 auto;
    display: block;
}
div#nav {
    width: 70%;
    float: left;
    height: 80px;
    text-align: right;
    line-height: 80px;
}
div#nav a {
    color: orange;
    text-decoration: none;
}
#nav ul {
    list-style-type: none;
	    margin: 0;
}
#nav li {
    display: inline-block;
    margin: 0 20px;
}

/* NAVIGATION ---------------------*/
.copyright p {
	text-align:center;
}

/* Pages ---------------------*/
.thanks p {
	text-align:center;
}
